body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    line-height: 1.6;
    background-color: white;
    color: grey;
    max-width: 1000px;
}

main {
    padding: 20px;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}